/* Modal*/
.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity $time-transition $cubic;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  background-color: $white-color;
  border-radius: 4px;

  padding: 40px;

  transition: transform $time-transition $cubic;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: $tablet-width - 1px) {
    width: 350px;
    height: 609px;
  }

  @media screen and (min-width: $tablet-width) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: $pc-width) {
    width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  @include display_align-item(flex, center);
  justify-content: center;

  width: 30px;
  height: 30px;

  padding: 0;

  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: $white-color;

  transition: fill $time-transition $cubic;

  &:hover .modal__close-icon {
    fill: $accent-color;
  }
}
.modal__close-icon {
  @include icon_width_heidth_fill(10px, 10px, $black-color);
}

/* Main Form */
.main-form {
  //position: absolute;
  top: 40px;
  display: flex;
  // align-items: center;
  flex-direction: column;
}

.main-form__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-text-color;

  //   @media screen and (max-width: $tablet-width - 1px) {
  //     max-width: 270px;
  //   }
  //   @media screen and (min-width: $tablet-width) {
  //     max-width: 370px;
  //   }
  //   @media screen and (min-width: $pc-width) {
  //     max-width: 470px;
  //   }
}

/* Form Field */
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &:hover .form-field__input,
  &:hover .form-field__comment {
    border-color: $accent-color;
  }
  &:hover .form-field_icon {
    fill: $accent-color;
  }

  &:focus-within .form-field_icon {
    fill: $accent-color;
  }
}

.form-field__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $secondary-text-color;
  margin-bottom: 4px;
}

.form-field__input {
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color $time-transition $cubic;

  &:invalid {
    border-color: $invalid-color;
  }

  //   @media screen and (max-width: $tablet-width - 1px) {
  //     max-width: 270px;
  //   }
  //   @media screen and (min-width: $tablet-width) {
  //     max-width: 370px;
  //   }
  //   @media screen and (min-width: $pc-width) {
  //     max-width: 470px;
  //   }
}

.form-field_icon {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */

  left: 12px;

  @include icon_width_heidth_fill(18px, 18px, $primary-text-color);
  transition: fill $time-transition $cubic;
}

.form-field__comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 20px;

  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: border-color $time-transition $cubic;

  //   @media screen and (max-width: $tablet-width - 1px) {
  //     max-width: 270px;
  //   }
  //   @media screen and (min-width: $tablet-width) {
  //     max-width: 370px;
  //   }
  //   @media screen and (min-width: $pc-width) {
  //     max-width: 470px;
  //   }
}
.form-field .form-field__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* Checkbox */
.form-field-checkbox {
  @include display_align-item(flex, center);
  margin-bottom: 30px;
}
.form-field-checkbox__checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .form-field-checkbox__icon {
    border-color: transparent;
    background-color: $accent-color;
    background-image: url(../images/checkbox-icon.svg);
    background-size: contain;
    background-origin: border-box;
  }
}
.form-field-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid $primary-text-color;
  border-radius: 4px;
}

.form-field-checkbox__policy-label {
  margin-left: 8px;
  font-weight: 400;

  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $secondary-text-color;

  @media screen and (max-width: $tablet-width - 1px) {
    font-size: 8px;
  }
  @media screen and (min-width: $tablet-width) {
    font-size: 12px;
  }
  @media screen and (min-width: $pc-width) {
    font-size: 14px;
  }
}
.form-field-checkbox__policy-terms {
  font-weight: 400;

  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: $accent-color;

  @media screen and (max-width: $tablet-width - 1px) {
    font-size: 8px;
  }
  @media screen and (min-width: $tablet-width) {
    font-size: 12px;
  }
  @media screen and (min-width: $pc-width) {
    font-size: 14px;
  }
}

/* Main Form Submit Button */
.main-form__submit-button {
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: $white-color;
  background-color: $form-submit-button;
  text-align: center;
  padding: 10px 55px;

  transition: box-shadow $time-transition $cubic;

  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: $tablet-width - 1px) {
    max-width: 200px;
  }
  @media screen and (min-width: $tablet-width) {
    max-width: 200px;
  }
  @media screen and (min-width: $pc-width) {
  }
}
