/* Main Form */
.main-form {
  position: absolute;
  top: 40px;
  @include display_align-item(flex, center);
  flex-direction: column;
}

.main-form__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}
