/* Filter on page */
.filter-on-page__heading {
  display: none;
}

.filter-buttons-list {
  //   display: flex;
  //   margin-bottom: 50px;
  //   justify-content: center;
  display: flex;
  margin-bottom: 50px;

  @media screen and (max-width: $tablet-width - 1px) {
    flex-wrap: wrap;
    //justify-content: center;
  }

  @media screen and (min-width: $tablet-width) {
    justify-content: center;
  }

  @media screen and (min-width: $pc-width) {
  }
}

.filter-buttons-list__item:nth-child(-n + 4) {
  margin-right: 8px;
}

.filter-buttons-list__button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: $primary-text-color;
  background-color: $secondary-bg-color;

  transition: color $time-transition $cubic,
    background-color $time-transition $cubic, box-shadow $time-transition $cubic;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* Work examples */
.card-set-container {
  margin-top: 34px;
}
.card-set-list {
  @media screen and (max-width: $tablet-width - 1px) {
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    /* Делаем Flex-контейнет многострочным */
    flex-wrap: wrap;
    /* Компенсируем маржины элементов */
    margin-left: -30px;
    margin-top: -30px;
    list-style: none;
  }
}
.card-set-list .card-set-list__item {
  margin-top: 30px;
  background-color: $white-color;
  border: 1px solid $card-border-color;

  transition: box-shadow $time-transition $cubic;

  @media screen and (max-width: $tablet-width - 1px) {
  }

  @media screen and (min-width: $tablet-width) {
    /* Задаём всем элементам маржины слева и сверху */
    margin-left: 30px;

    width: 370px;
    /*  Задаём ширину элементов  */
    flex-basis: calc((100% - 90px) / 3);
  }
}
.card-set-list .card-set-list__item:hover,
.card-set-list .card-set-list__item:focus {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card-set-list__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.work-examples__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-examples__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: $secondary-text-color;
}
.work-examples__link {
  text-decoration: none;
  color: $primary-text-color;

  &:hover .work-examples__label {
    transform: translateY(0);
  }
  .work-examples__label {
    position: absolute;
    top: 0;
    width: 100%;
    height: 101%;

    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $white-color;

    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform $time-transition $cubic;
  }
}
.work-examples__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-examples__thumb {
  position: relative;
  overflow: hidden;
}
